.new-entry {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 60%;
  margin: auto;

  &__heading {
    font-weight: 600;
    font-size: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
  }

  &__rating-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 3rem;
    gap: 0.3rem;
    justify-content: space-between;
  }

  &__rate-label {
    font-size: 0.875rem;
    font-weight: 600;
  }

  &__rate-input {
    width: 100%;
    font-family: "Work Sans";
    border: none;
    border-bottom: 5px solid rgba(128, 128, 128, 0.332);
    border-right: 5px solid rgba(128, 128, 128, 0.332);
    height: 2rem;
    font-size: 1rem;
  }

  &__entry-container {
    @extend .new-entry__rating-container;
  }

  &__entry-label {
    @extend .new-entry__rate-label;
  }

  &__entry-input {
    @extend .new-entry__rate-input;
    justify-content: start;
    height: 6rem;
    resize: none;
  }

  &__post-btn {
    font-family: "Work Sans";
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 0;
    background-color: black;
    color: white;
  }
}
