.header {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    text-align: center;
  }

  &__title-link {
    text-decoration: none;
  }

  &__new-entry-link {
    text-decoration: none;
  }
}
