@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;

.card {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: solid #707078;
  border-radius: 0;
  justify-content: space-between;

  &__info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0.3rem;
  }

  &__entry-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    letter-spacing: 0.2rem;
  }

  &__date {
    font-style: italic;
    font-size: 0.875rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  &__delete-icon {
    width: 2rem;
    height: 2rem;
  }
}
